body{
  height: 3000px;
}

.close{
  position: absolute;
  top: -12px;
  left: -12px;;
}

.X-btn{
  background-color: black;
  color: white;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 15px;
  padding: 5px;
}

.grey-box{
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 180px;
  width: 320px;
  background-color: grey;
}

.time-stamp{
  position: absolute;
  bottom: 8px;
  right: 8px;
  color: white;
  background-color: black;
  padding: 2px;
}